@import url("https://fonts.googleapis.com/css?family=Amiri|Crimson+Text|Frank+Ruhl+Libre|Lato|Lora|Montserrat|Open+Sans|Philosopher|Roboto|Source+Sans+Pro|Source+Serif+Pro");

@import url("components/container.css");

@import url("components/banner.css");

@import url("components/button.css");

@import url("components/navigation.css");

@import url("components/box.css");

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	margin:0px;
	background-color: black;
}

h1, h2, h3{
	font-family:'Frank Ruhl Libre', serif;
	letter-spacing: 0.5px;
	text-align:center;
}

#contact h2{
	text-align: left;

}

a{
	text-decoration: none;
}


.pictos{
	margin-right:7px;
}


.list-without-bullet-point {
  list-style-type: none;
}

#nos-services, #a-propos{
	margin-bottom: 0px;
	margin-right:20px;
	margin-left: 20px;
	border-bottom:3px solid black;
	padding:10px;
	border-radius: 8px 8px 0px 0px;
}

#nos-services{
	background-color: #e5e5e5;
}

#a-propos{
	background-color: #fcede3;
}

img{
		border-radius: 5px;
}